.logo{
    width: 100%;
}
.logovsmenu{
    display: inline;
}
.menu{
    float: right;
}
.menu a{
    text-decoration: none;
    font-size: 25px;
    color: palevioletred;
    padding: 10px;
   
}
.searchfood{
    width: 100%;
    height: 300px;
   background-image:url(images/bg.jpg);
   
}
.search{
    text-align: center;
    padding-top: 150px;
}
.search input{
    width: 25%;
    height: 30px;
}
.search button{
    height: 30px;
    background-color: palevioletred;
}
.exFood{
    text-align: center;
}
.imagesfood{
    display:flex;
    justify-content: center;
    color:white;
    font-size: 30px;
}
.burgerfood {
    padding: 0 5% 0 5%;
    text-align: center;
}
.imagesfood h2{
    transform: translate(0, -300%);
}
.pizzafood {
    text-align: center;
}
.momofood {
    text-align: center;
}
.imagesfood img{
    border-radius: 20px;
    width: 100%;
}